body {
    font-family: 'Open Sans',sans-serif;
    font-size:12px;
    background-color:yellow;
    margin:0!important;
    padding:0!important;
    width:100%;
    height:100%;
}
div.title {
    background:#00A000;
    color:yellow;
    height:30px;
    margin:0;
    padding:0;
}
div.title h1 {
  font-size:14px;
    margin:0;
    padding:6px;
}
#nemoUI {
    padding:5px;
}
table {
    background-color:#00A000;
    padding:0;
    border-spacing: 1px;
}
th {
    background-color:yellow;
    padding:3px;
    margin:1px;
}
table td {
    border:0;
    background-color:yellow;
    padding:3px;
    margin:1px

}
.messagebox {
    border: 1px solid black;
    margin:8px;
    padding:8px;
    text-align:left;
    background-color:#ffffff;
}

.messagebox.error {
    border-color:red;
    color:red;
}
.messagebox.info {
    border-color:blue;
    color:blue;
}
p input[type=text] {
    float:right;
    width: 250px;
    margin-right:50px;
}

pre {
    width: 90%;
    margin:auto;
    padding:15px;
    background: #ffffaa;
    border: 1px solid #c77405;
    overflow:auto;
}
